<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.apache.cordova.test" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Test</name><js-module name="Test" src="www/Test.js"><clobbers target="cordova.plugins.Test" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Test"><param name="android-package" value="org.apache.cordova.test.Test" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/Test.java" target-dir="src/org/apache/cordova/test" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="Test"><param name="ios-package" value="Test" /></feature></config-file><source-file src="src/ios/Test.m" /></platform></plugin>